<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactenos</title>
</head>
<body>
    <header>
        <nav>
            <ul>
               <li><a href="../index.html">Inicio</a></li>
               <li><a href="Quienes_somos.html">Quienes somos</a></li>
               <li><a href="Que_hacemos.html">Que hacemos</a></li>
               <li><a href="Equipamiento.html">Equipamiento</a></li>
               <li><a href="Contactenos.html">Contactenos</a></li>
            </ul>
           </nav>
    </header>
    <main>
        <h1>Contáctenos</h1>
        <h2>Complete el siguiente formulario y nos estaremos comunicando a la brevedad</h2>
       <fieldset>
        <legend>Datos personales</legend>
        <form action="" method="">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" placeholder="nombre">
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="apellido" placeholder="apellido">
            <label for="edad">Edad:</label>
            <input type="number" name="edad" id="edad">
            <label for="telefono">Teléfono:</label>
            <input type="text" name="telefono" id="telefono">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="correo@ejemplo.com">
       </fieldset>
       <br>
       <fieldset>
            <label for="asunto">Asunto:</label>
            <input type="text" name="asunto" id="asunto">
            <br>
            <label for="contenido">Contenido:</label>
            <br>
            <textarea name="" id="" cols="30" rows="10"></textarea>
       </fieldset>
       <br>
       <fieldset>
        <legend>¿Desea recibir nuestras novedades?</legend>
        <label for="novedades">SI</label>
        <input type="radio" name="novedades" id="novedades" value="SI">
        <label for="novedades">NO</label>
        <input type="radio" name="novedades" id="novedades" value="NO">
        </fieldset>
        <br>
        <input type="submit" value="Enviar formulario">
        <input type="reset" value="Borrar formulario">
            

        </form>
    </main>
    <footer></footer>
</body>
</html>
