<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipamiento</title>
</head>
<body>
    <header>
        <nav>
            <ul>
               <li><a href="../index.html">Inicio</a></li>
               <li><a href="Quienes_somos.html">Quienes somos</a></li>
               <li><a href="Que_hacemos.html">Que hacemos</a></li>
               <li><a href="Equipamiento.html">Equipamiento</a></li>
               <li><a href="Contactenos.html">Contactenos</a></li>
            </ul>
           </nav>
    </header>
    <main>
        <h1>Nuestros Equipamientos</h1> 
    </main>
    <footer></footer>
</body>
</html>


