<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiénes Somos</title>
</head>
<body>
    <header>
        <nav>
            <ul>
               <li><a href="../index.html">Inicio</a></li>
               <li><a href="Quienes_somos.html">Quienes somos</a></li>
               <li><a href="Que_hacemos.html">Que hacemos</a></li>
               <li><a href="Equipamiento.html">Equipamiento</a></li>
               <li><a href="Contactenos.html">Contactenos</a></li>
            </ul>
           </nav>
    </header>
    <main>
        <h1>Quiénes somos</h1>
        <p>
             Quaity Graph S.R.L es una empresa nacida en el año 2012, en el partido de Avellaneda. Nuestra compañía se destaca por el servicio brindado al cliente, buscando satisfacer sus necesidades en tiempo y forma, y también por la calidad de sus productos, para los cuales utilizamos materia prima de primera calidad.
        </p>
        <br>
        <p>
            Nuestro objetivo como empresa, es proveer al cliente productos acorde a sus necesidades y soluciones en tiempo y forma en todo lo relacionado a la industri gráfica, apuntando siempre a la alta calidad de nuestros productos, desde el asesoramiento para optimizar los procesos y los costos, hasta la entrega del producto final y su posterior seguimiento.
        </p>
        <br>
        <p>
            En Quality Graph S.R.L estamos comprometidos con lo que hacemos buscando que nuestros productos cada día sean mejores para cumplir con las metas y obligaciones de dar al cliente el mejor servicio. La atención es brindada por sus propios dueños lo que hace que la misma sea personalizada, asegurando eficacia, calidad y entrega en tiempo y forma.
        </p>
           
    </main>
    <footer>
        <img src="" alt="">
    </footer>
</body>
</html>
